# Homework 1, Part I: Data Wrangling
## Due September 26, 2018 by 10pm

Big data analytics often requires (1) importing data from multiple sources, possibly extracting content from text; then (2) combining data from multiple sources, possibly from multiple different organizations, in heterogeneous formats.  For this assignment, our primary goals are to get you comfortable with importing, extracting, saving, and combining data -- largely using Pandas DataFrames as the basic abstraction.  You’ll read data from files, address issues with missing values, save the data in a database, combine the data, and generate visualizations.

*The Task*.  Most of you likely were on a plane over the summer, and chances are that at least one of your flights got delayed.  Did you ever wonder how well different airlines do?  We’ll answer those questions in this assignment!  (Caveat: with apologies to international travelers, most of the data is only available for US cities and routes!)

*Terminology*.  We’ll generally use *field*, *column*, and *attribute* interchangeably to mean a named column in a DataFrame.  We’ll also generally assume that *table*, *DataFrame*, and *relation* mean the same thing.

*Submission*. See the external document for submission information.  Remember to also do **Homework 1, Part 2** and optionally **Homework 1-Advanced**.

## The data in this repository

The data files, whose contents are described in the provided notebook _Dataset Descriptions_, are:


* `airports.dat.txt` - data on airports, in comma-separated values (CSVs) with no header row

* `airlines.dat.txt` - data on airlines, in CSV with no header row

* `routes.dat.tx`t - data on flight routes, in CSV with no header row

* http://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n - remote file with data on actual flights, with performance info, with a header row

* `aircraft_incidents.htm` - webpage that lists commercial aircraft incidents by year

## Step 1: Importing CSV Data

The first task will be to import tabular data.  Before you get started, run the following...

In [4]:
import csv
import pandas as pd

In [5]:
# YOUR CODE HERE
# raise NotImplementedError()

## 1.1 Reading CSVs

Fill in the Cells below to read the specified input files using Pandas’ `read_csv` function.  For the first 3 sources you’ll need to assign column names to the data, based on the **Dataset Descriptions** and some hints below.  

We use the variable names `airports_df`, `airlines_df`, `routes_df`, and `flights_df` to refer to the DataFrames below. The `_df` is because Python is dynamically typed, so it helps make code more clear when the type is apparent from the variable name.

For your variables and your column names, follow the Python convention that names are in lowercase and underscores are used as spaces. Specifically, when naming columns that are shared between datasets, use the format datasource_property (i.e. `airport_id`, `airport_name`, `airline_id`, etc.)

In [6]:
# TODO: Load airports.dat.txt into a dataframe called airports_df

# YOUR CODE HERE
airports_df = pd.read_csv('airports.dat.txt', header=None, names=['airport_id','airport_name','city','country','iata','icao','lat','lon','alt','timezone','dst','tz'])

You should see info on your dataframe's schema if you run this cell...

In [7]:
airports_df.dtypes

airport_id        int64
airport_name     object
city             object
country          object
iata             object
icao             object
lat             float64
lon             float64
alt               int64
timezone        float64
dst              object
tz               object
dtype: object

This is the first of many *test case* cells that will help you to (partly) validate that you're on the right path with your answers.  If this (or any of the other cells) fails, this is a clue that your output isn't what we expect.

In [8]:
if len(airports_df) != 8107:
    raise ValueError('Your DataFrame doesn''t have the expected number of rows')
    
if len(airports_df.columns) != 12:
    raise ValueError('Your DataFrame doesn''t have the expected number of columns')

try:
    if len(airports_df['airport_id']) != 8107:
        raise ValueError('Your DataFrame doesn''t have the expected number of rows')

    if airports_df['airport_id'].dtype != 'int64':
        raise ValueError('Airport ID is wrong type, should be integer')

    if airports_df['airport_name'].dtype != 'object':
        raise ValueError('Airport name is wrong type, should be object (string)')
    pass
except KeyError:
    raise KeyError('You likely misspelled a column name or didn''t load the dataframe')
    pass

In [9]:
# TODO: Load airlines.dat.txt into a dataframe called airlines_df

# YOUR CODE HERE
airlines_df = pd.read_csv('airlines.dat.txt', header=None, names=['airline_id','airline_name','airline_alias','airline_iata','airline_icao','airline_callsign','country','active'])

In [10]:
airlines_df.dtypes

airline_id           int64
airline_name        object
airline_alias       object
airline_iata        object
airline_icao        object
airline_callsign    object
country             object
active              object
dtype: object

In [11]:
if len(airlines_df) != 6048:
    raise ValueError('Unexpected number of airlines rows')
    
if len(airlines_df.columns) != 8:
    raise ValueError('Unexpected number of columns in airlines')
    
try:
    if len(airlines_df['airline_id']) != 6048:
        raise ValueError('Your DataFrame doesn''t have the expected number of rows')

    if airlines_df['airline_id'].dtype != 'int64':
        raise ValueError('Airline  ID is wrong type, should be integer')

    if airlines_df['airline_name'].dtype != 'object':
        raise ValueError('Airline name is wrong type, should be object (string)')
except KeyError:
    raise KeyError('You likely misspelled a column name or didn''t load the dataframe')
    pass

In [12]:
# TODO: Load routes.dat.txt into a dataframe called routes_df

# YOUR CODE HERE
routes_df = pd.read_csv('routes.dat.txt', header=None, names=['airline_iata','airline_id','src_iata_icao','source_id','target_iata_icao','target_id','code_share','stops','equipment'])

In [13]:
routes_df.dtypes

airline_iata        object
airline_id          object
src_iata_icao       object
source_id           object
target_iata_icao    object
target_id           object
code_share          object
stops                int64
equipment           object
dtype: object

In [14]:
if len(routes_df) != 67663:
    raise ValueError('Unexpected number of routes')
    
if len(routes_df.columns) != 9:
    raise ValueError('Unexpected number of route columns')
    
if 'target_iata_icao' not in routes_df.columns:
    raise KeyError('Missing expected target_iata_iaco field from routes')

For the last dataframe, `flights_df`, you are importing from a CSV with a header.  For now, have Python use the header names already in the file. When calling read_csv, use the option use_cols to specify a list of columns to import.  Only include the following fields (these were named in the CSV file header from BTS, and thus don’t follow Python naming conventions): ['YEAR',MONTH','DAY_OF_MONTH','CARRIER','FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED']

The data is at: https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n

In [15]:
# TODO: Import https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n into flights_df, but
# also restrict to the following columns: 'YEAR','MONTH','DAY_OF_MONTH','CARRIER',
# 'FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED'

import requests
from io import StringIO

remote = requests.get('https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n').content

# You can read from the remote file via:
# flights = pd.read_csv(StringIO(remote.decode('utf-8')))
#
# But you also need to use particular columns as per the HW spec

# YOUR CODE HERE
flights_df = pd.read_csv(StringIO(remote.decode('utf-8')),usecols=['YEAR','MONTH','DAY_OF_MONTH','CARRIER','FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED'])

In [16]:
if len(flights_df) != 570118:
    raise ValueError('Expected a different number of flights')
    
if len(flights_df.columns) != 9:
    raise ValueError('Perhaps you forgot to remove a column? Number of columns isn''t as expected')
    
if 'YEAR' not in flights_df.columns:
    raise KeyError('Expected to find YEAR in the DataFrame')

## Notes on the Data So Far

The data you've imported isn't yet perfect....

**Nulls**.  You should see for airlines a variety of entries that say “NaN” (not a number), which represents “unknown” or null information.  In fact, if you look closely there are also other values representing “unknown” such as “\N” and even “-”.  We’ll have to regularize all of this later!

**Schemas**.  OK, you’ve loaded the DataFrames.  You can get the schemas -- the names and types of the columns -- of the DataFrames by the `dtypes` property.  Use `airlines_df.dtypes` and `routes_df.dtypes` to take a look at the schemas.  Now compare the types of `routes_df.airline_id` and `airlines_df.airline_id`.  You should see that one is `int64` and the other is `object`.

Why is this?  Python automatically infers the types based on what it reads from the CSV files.  Unfortunately, things like “NaN” are actually floating-point (fractional) numbers and “\N” is a string.  If a column has multiple kinds of values, Python will consider it to be an “object.”  Unfortunately, this will interfere with how we combine tables later, so we need to “clean” the data.  We'll come back to this later in Homework 1, Part I.  Before that we'll let you take a look at the data to see the issues, and then we'll import even more data (text data this time!).

In [17]:
# YOUR CODE HERE
airlines_df.dtypes

airline_id           int64
airline_name        object
airline_alias       object
airline_iata        object
airline_icao        object
airline_callsign    object
country             object
active              object
dtype: object

In [18]:
# YOUR CODE HERE
routes_df.dtypes

airline_iata        object
airline_id          object
src_iata_icao       object
source_id           object
target_iata_icao    object
target_id           object
code_share          object
stops                int64
equipment           object
dtype: object

In [20]:
routes_df.airline_id.dtypes

dtype('O')

In [21]:
airlines_df.airline_id.dtypes

dtype('int64')

### 1.1 Final Results

In [22]:
# Output airports_df
airports_df

,airport_id,airport_name,city,country,iata,icao,lat,lon,alt,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,N,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,N,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,N,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,N,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,N,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,N,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,N,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,N,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,N,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,N,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,NaN,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,NaN,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,NaN,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,NaN,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,NaN,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,NaN,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,NaN,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,NaN,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,NaN,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,NaN,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,NaN,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,NaN,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,NaN,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,NaN,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,NaN,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,NaN,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,NaN,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,NaN,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,NaN,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,NaN,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,NaN,\N,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [23]:
# Output airlines_df
airlines_df

,airline_id,airline_name,airline_alias,airline_iata,airline_icao,airline_callsign,country,active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,\N,NaN,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,\N,NaN,THD,DONUT,Canada,N
12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,\N,1B,NaN,NaN,Singapore,Y
14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,\N,NaN,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,\N,NaN,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,\N,NaN,SII,ASEISA,Mexico,N
18,19,Aero Biniza,\N,NaN,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,\N,NaN,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,\N,NaN,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,\N,NaN,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),\N,NaN,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,\N,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,\N,NaN,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,NaN,CCB,NaN,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,NaN,NaN,TNS,NaN,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,NaN,NaN,GCA,NaN,Lithuania,Y
6028,19785,Go2Sky,NaN,NaN,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,NaN,Argentina,Y
6030,19804,All America,All America,A2,AL2,NaN,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,NaN,China,Y
6032,19806,All Africa,All Africa,9A,99F,NaN,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,NaN,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,NaN,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,NaN,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,NaN,Iceland,Y
6037,19811,British Air Ferries,NaN,??,??!,NaN,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,NaN,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,NaN,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,NaN,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,NaN,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,NaN,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,NaN,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,NaN,Australia,Y
6045,19831,Fly Europa,NaN,ER,RWW,NaN,Spain,Y
6046,19834,FlyPortugal,NaN,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,NaN,NaN,FTI,NaN,Germany,N

In [24]:
# Output routes_df
routes_df

,airline_iata,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
5,2B,410,DME,4029,KZN,2990,NaN,0,CR2
6,2B,410,DME,4029,NBC,6969,NaN,0,CR2
7,2B,410,DME,4029,TGK,\N,NaN,0,CR2
8,2B,410,DME,4029,UUA,6160,NaN,0,CR2
9,2B,410,EGO,6156,KGD,2952,NaN,0,CR2
10,2B,410,EGO,6156,KZN,2990,NaN,0,CR2
11,2B,410,GYD,2922,NBC,6969,NaN,0,CR2
12,2B,410,KGD,2952,EGO,6156,NaN,0,CR2
13,2B,410,KZN,2990,AER,2965,NaN,0,CR2
14,2B,410,KZN,2990,ASF,2966,NaN,0,CR2
15,2B,410,KZN,2990,CEK,2968,NaN,0,CR2
16,2B,410,KZN,2990,DME,4029,NaN,0,CR2
17,2B,410,KZN,2990,EGO,6156,NaN,0,CR2
18,2B,410,KZN,2990,LED,2948,NaN,0,CR2
19,2B,410,KZN,2990,SVX,2975,NaN,0,CR2
20,2B,410,LED,2948,KZN,2990,NaN,0,CR2
21,2B,410,LED,2948,NBC,6969,NaN,0,CR2
22,2B,410,LED,2948,UUA,6160,NaN,0,CR2
23,2B,410,MRV,2962,ASF,2966,NaN,0,CR2
24,2B,410,NBC,6969,DME,4029,NaN,0,CR2
25,2B,410,NBC,6969,GYD,2922,NaN,0,CR2
26,2B,410,NBC,6969,LED,2948,NaN,0,CR2
27,2B,410,NBC,6969,SVX,2975,NaN,0,CR2
28,2B,410,NJC,2972,SVX,2975,NaN,0,CR2
29,2B,410,NJC,2972,UUA,6160,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,NaN,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,NaN,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,NaN,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,NaN,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,NaN,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,NaN,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,NaN,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,NaN,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,NaN,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,NaN,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,NaN,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,NaN,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,NaN,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,NaN,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,NaN,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,NaN,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,NaN,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,NaN,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,NaN,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,NaN,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,NaN,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,NaN,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,NaN,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,NaN,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,NaN,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [25]:
# Output flights_df
flights_df

,YEAR,MONTH,DAY_OF_MONTH,CARRIER,FL_NUM,ORIGIN,DEST,ARR_DELAY_NEW,CANCELLED
0,2018,1,2,WN,1325,SJU,MCO,0.0,0.0
1,2018,1,2,WN,5159,SJU,MCO,0.0,0.0
2,2018,1,2,WN,5890,SJU,MCO,9.0,0.0
3,2018,1,2,WN,6618,SJU,MCO,0.0,0.0
4,2018,1,2,WN,1701,SJU,MDW,8.0,0.0
5,2018,1,2,WN,844,SJU,TPA,23.0,0.0
6,2018,1,2,WN,4679,SJU,TPA,0.0,0.0
7,2018,1,2,WN,6294,SLC,BUR,20.0,0.0
8,2018,1,2,WN,5245,SLC,DAL,0.0,0.0
9,2018,1,2,WN,2278,SLC,DEN,0.0,0.0
10,2018,1,2,WN,5125,SLC,DEN,7.0,0.0
11,2018,1,2,WN,6215,SLC,DEN,0.0,0.0
12,2018,1,2,WN,6913,SLC,DEN,23.0,0.0
13,2018,1,2,WN,3731,SLC,HOU,94.0,0.0
14,2018,1,2,WN,5549,SLC,LAS,0.0,0.0
15,2018,1,2,WN,5810,SLC,LAS,0.0,0.0
16,2018,1,2,WN,6556,SLC,LAS,0.0,0.0
17,2018,1,2,WN,6599,SLC,LAS,27.0,0.0
18,2018,1,2,WN,5673,SLC,LAX,25.0,0.0
19,2018,1,2,WN,6819,SLC,LAX,0.0,0.0
20,2018,1,2,WN,5053,SLC,MDW,0.0,0.0
21,2018,1,2,WN,5911,SLC,MDW,0.0,0.0
22,2018,1,2,WN,6622,SLC,OAK,29.0,0.0
23,2018,1,2,WN,6671,SLC,OAK,4.0,0.0
24,2018,1,2,WN,6799,SLC,OAK,0.0,0.0
25,2018,1,2,WN,1315,SLC,PHX,0.0,0.0
26,2018,1,2,WN,5007,SLC,PHX,20.0,0.0
27,2018,1,2,WN,5218,SLC,PHX,0.0,0.0
28,2018,1,2,WN,5913,SLC,PHX,0.0,0.0
29,2018,1,2,WN,6909,SLC,PHX,0.0,0.0
...,...,...,...,...,...,...,...,...,...
570088,2018,1,2,WN,734,SJC,SAN,101.0,0.0
570089,2018,1,2,WN,744,SJC,SAN,7.0,0.0
570090,2018,1,2,WN,1163,SJC,SAN,0.0,0.0
570091,2018,1,2,WN,3527,SJC,SAN,124.0,0.0
570092,2018,1,2,WN,5294,SJC,SAN,75.0,0.0
570093,2018,1,2,WN,5421,SJC,SAN,60.0,0.0
570094,2018,1,2,WN,6225,SJC,SAN,0.0,0.0
570095,2018,1,2,WN,6499,SJC,SAN,80.0,0.0
570096,2018,1,2,WN,6519,SJC,SAN,64.0,0.0
570097,2018,1,2,WN,6562,SJC,SAN,176.0,0.0
570098,2018,1,2,WN,6783,SJC,SAN,45.0,0.0
570099,2018,1,2,WN,6816,SJC,SAN,7.0,0.0
570100,2018,1,2,WN,6850,SJC,SAN,4.0,0.0
570101,2018,1,2,WN,6889,SJC,SAN,68.0,0.0
570102,2018,1,2,WN,4257,SJC,SEA,57.0,0.0
570103,2018,1,2,WN,6211,SJC,SEA,113.0,0.0
570104,2018,1,2,WN,6493,SJC,SEA,6.0,0.0
570105,2018,1,2,WN,6796,SJC,SEA,83.0,0.0
570106,2018,1,2,WN,6988,SJC,SEA,0.0,0.0
570107,2018,1,2,WN,5125,SJC,SLC,112.0,0.0
570108,2018,1,2,WN,29,SJC,SNA,89.0,0.0
570109,2018,1,2,WN,1420,SJC,SNA,0.0,0.0
570110,2018,1,2,WN,5390,SJC,SNA,107.0,0.0
570111,2018,1,2,WN,5453,SJC,SNA,0.0,0.0
570112,2018,1,2,WN,5598,SJC,SNA,15.0,0.0
570113,2018,1,2,WN,5671,SJC,SNA,11.0,0.0
570114,2018,1,2,WN,6065,SJC,SNA,76.0,0.0
570115,2018,1,2,WN,6185,SJC,SNA,0.0,0.0
570116,2018,1,2,WN,6456,SJC,SNA,0.0,0.0
570117,2018,1,2,WN,6937,SJC,SNA,25.0,0.0

## 1.2: Importing Text Data

We are going to scrape data from the aircraft_incidents.htm webpage using the *beautifulsoup4* package. More details can be found in the documentation: https://www.crummy.com/software/BeautifulSoup/bs4/doc/.

Run the code snippet that stores the web content in soup. Once the content is extracted, we need to get rid of the HTML tags and select the data we are going to be looking at. The data we need are the year and the description of the incidents under that year. It can be seen that the HTML tag (almost always) for the year is `<h3>` and for the incidents it is `<li>`.

In [26]:
# !pip install bs4 --user
from bs4 import BeautifulSoup

input_html = "aircraft_incidents.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'html5lib')

Using beautifulsoup4’s `find_all`(list of tags) function, only select the content under those HTML tags. Store the data in a list of strings called `selected_data`, where each year or incident description is a separate string in the list.

In [27]:
# TODO: Select Year and Incident description. It can be seen that they are usually
# <h3> or <li> tags.

# Assign the results to variable selected_data

# YOUR CODE HERE
selected_data=[]
for tag in soup.find_all(["h3","li"]):
    selected_data.append(str(tag.get_text()))

In [28]:
if not type(selected_data) is list:
    raise ValueError("For efficiency, please store selected_data as list")
    
if len(selected_data) != 1579:
    raise ValueError("Don't have the expected number of entries")

Finally, check if all the HTML tags have been removed. Output the message 'No Tag Found!’, if successful.

In [29]:
# TODO: Check if all tags have been removed
# Output 'No Tag Found!' if no tags

# YOUR CODE HERE
import re
for i in range(0,len(selected_data)):
    if re.findall('<*>',selected_data[i]):
        break
    if i == len(selected_data)-1:
        print('No Tag Found!')

No Tag Found!

In [30]:
selected_data

['1919[edit]',
 'July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.',
 'August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).',
 '1920[edit]',
 'December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.',
 '1922[edit]',
 'April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.',
 '1923[edit]',
 'May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.',
 'August 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.',
 'September 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.',
 '1924[edit]',
 'December 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.',
 '1926[edit]',
 'August 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.',
 'October 2 – An Air Union Blériot 155 catches fire in mid-air and crashes at Leigh, Kent, England, while the pilot attempts to make an emergency landing at Penshurst Airfield. Both members of crew and all five passengers are killed. This is the first in-flight fire occurring on an airliner.',
 '1927[edit]',
 'August 22 – A KLM Fokker F. VIII crashes near Sevenoaks, Kent, England, due to structural failure of the tailfin, killing one of 11 on board.',
 '1928[edit]',
 'July 13 – An Imperial Airways Vickers Vulcan crashes on a test flight from Croydon Airport, England, with a pilot and five passengers near Purley, Surrey, 3 miles (4.8\xa0km) from the airport, with the loss of four passengers. As a result of the crash Imperial Airways stopped the flying of staff (so-called joy rides) on test flights.',
 '1929[edit]',
 'June 17 – An Imperial Airways Handley Page W.10 ditches in the English Channel due to engine failure, killing seven of 13 on board.',
 'November 6 – A Junkers G 24 crashes near Marden Park, Godstone, Surrey, England; of the 8 on board; only one passenger survives.',
 '1930[edit]',
 'February 10 – An Air Union Farman F.63 Goliath crashes during an emergency landing at Marden Airfield, Marden, Kent, England, following failure of the right tailplane, killing two of six on board.',
 'October 5 – On its maiden voyage from England to British India, the British civil airship R101 crashes and burns in Allonne, Oise, France, while flying at low altitude at night in a rainstorm, killing 48 out of 54 on board, the worst civil airship disaster in history.',
 '1931[edit]',
 "March 21 – An Australian National Airways Avro 618 Ten, Southern Cloud, disappears in severe weather on a flight from Sydney to Melbourne, killing all eight on board in Australia's first significant airline disaster; the crash site in the Snowy Mountains remains undiscovered until 1958.",
 'March 31 – A Transcontinental & Western Air Fokker F-10 Trimotor crashes near Bazaar, Kansas, after a wing breaks off in flight, killing all eight aboard, including University of Notre Dame football coach Knute Rockne.',
 '1933[edit]',
 'March 28 – The 1933 Imperial Airways Dixmude crash in Belgium of an Armstrong Whitworth Argosy II is the first suspected case of air sabotage; all 15 on board are killed.',
 'October 10 – The United Airlines crash near Chesterton: a Boeing 247 is destroyed by a bomb over Chesterton, Indiana, United States, in the first proven case of air sabotage on a commercial aircraft; all seven on board are killed.',
 'December 30 – In the 1933 Imperial Airways Ruysselede crash in Belgium, an Avro Ten collides with a radio mast, killing all 10 on board.',
 '1934[edit]',
 'February 23 - A United Air Lines Boeing 247 crashes into a Utah canyon in bad weather, killing all eight on board.',
 'May 9 – An Air France Wibault 282T crashes into the English Channel off Dungeness, Kent, killing all six on board.',
 'July 27 – A Swissair Curtiss T-32 Condor II crashes near Tuttlingen, Germany, after a wing separates in a thunderstorm, killing all 12 passengers and crew on board.',
 "October 2 – A Hillman's Airways de Havilland Dragon Rapide crashes into the English Channel off Folkestone, Kent, due to pilot error, killing all seven on board.",
 '1935[edit]',
 'May 6 - TWA Flight 6, a Douglas DC-2 flying from Albuquerque, New Mexico, to Kansas City, Missouri, flying at low altitude through poor visibility at night while desperately low on fuel, crashes near Atlanta, Missouri, killing five out of thirteen on board, including a U.S. Senator. The political aftermath transforms U.S. civil air regulation.',
 'October 7 – United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.',
 'December 10 – A SABENA Savoia-Marchetti S.73 crashes near Tatsfield, Surrey, England, due to pilot error, killing all 11 on board.',
 '1936[edit]',
 'January 14 – American Airlines Flight 1, a Douglas DC-2, crashes into a swamp near Goodwin, Arkansas, killing all 17 passengers and crew on board; the cause is never determined.',
 'April 7 – TWA Flight 1, a Douglas DC-2, crashes near Uniontown, Pennsylvania, United States, due to pilot error, killing 12 of the 14 passengers and crew aboard.',
 'June 16 – In the Havørn Accident, a Norwegian Air Lines Junkers Ju 52 crashes into Lihesten mountain in Hyllestad, Norway, killing all seven on board.',
 'August 5 – Chicago and Southern Flight 4, a Lockheed Model 10 Electra, crashes after takeoff due to pilot error, killing all eight on board.',
 'December 9 – A KLM Douglas DC-2 crashes on takeoff from Croydon Airport, England; 15 of 17 on board die.',
 'December 27 – United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.',
 '1937[edit]',
 'January 12 – Western Air Express Flight 7, a Boeing 247, crashes into a mountain near Newhall, California, United States. Five of the 13 people aboard die, including famed adventurer, author and filmmaker, Martin Johnson.',
 'February 19 – An Australian National Airways Stinson Model A suffers controlled flight into terrain in Queensland, killing four of the seven people on board.',
 'May 6 – The Zeppelin Hindenburg bursts into flames and crashes while attempting a landing at Naval Air Engineering Station, Lakehurst, New Jersey, United States; of the 97 people on board, 35 are killed; one person on the ground also dies.',
 'November 16 – A Sabena Junkers Ju 52 crashes near Ostend, Belgium, killing all 11 on board, including the Grand Duke Georg Donatus and Grand Duchess Cecilie of Hesse.',
 '1938[edit]',
 'January 10 – Northwest Airlines Flight 2, a Lockheed L14H Super Electra, crashes near Bozeman, Montana, United States, killing all 10 on board; the machine with which the manufacturer measured component vibration is found to be inaccurate, causing the aircraft to be more prone to flutter than thought.',
 'January 11 – Pan American World Airways Flight 1, a Sikorsky S-42 flying boat named the Samoan Clipper, explodes over Pago Pago, American Samoa; all seven on board die.',
 'March 1 – The 1938 Yosemite TWA crash: A Douglas DC-2 disappears on a flight from San Francisco to Winslow, Arizona, United States; the aircraft is found three months later on a mountain in Yosemite National Park; all nine on board die.',
 'July 28 – Pan American World Airways Flight 229, a Martin M-130 flying boat named the Hawaii Clipper, disappears in the Pacific Ocean westbound from Guam to Manila with six passengers and nine crew.',
 'October 25 – Kyeema, an Australian National Airways Douglas DC-2 crashes in heavy fog into Mount Dandenong in Victoria, Australia, killing all 18 people on board.',
 'November 4 – In the 1938 Jersey Airport disaster, a Jersey Airways de Havilland DH.86 crashes on takeoff from Jersey Airport due to pilot error; all 13 passengers and crew die as well as one person on the ground.',
 '1939[edit]',
 "January 13 – Northwest Airlines Flight 1, a Lockheed L14H Super Electra, crashes on descent to Miles City, Montana, United States, killing all four on board; the aircraft's cross-feed fuel valve leaked fuel into the cockpit and an intense fire broke out.",
 'January 21 – Imperial Airways Short Empire flying boat Cavalier makes an emergency landing 285\xa0mi southeast of New York in the North Atlantic due to loss of power and later sinks; three of 12 on board die.',
 'August 13 – A Pan Am Sikorsky S-43 crashes into Guanabara Bay, Brazil, due to loss of control following engine failure, killing 12 of 14 on board.',
 '1940[edit]',
 'June 14 – In the Kaleva shootdown, an Aero Junkers Ju 52 en route from Tallinn, Estonia to Helsinki, Finland, is shot down by two Soviet bombers over the Gulf of Finland during peacetime; all nine aboard die.',
 'August 31 – In the Lovettsville air disaster, Pennsylvania Central Airlines Trip 19, a Douglas DC-3A, crashes at Lovettsville, Virginia, United States, killing all 25 on board.',
 'November 8 – A Deutsche Luft Hansa Junkers Ju 90 crashes near Schönteichen, Saxony, Germany, after ice formed on the tail, killing all 29 passengers and crew on board.',
 '1941[edit]',
 'February 26 – Eastern Air Lines Flight 21, a Douglas DC-3, crashes while descending to land at Atlanta, Georgia, United States, killing eight of 16 aboard; World War I hero and Eastern Air Lines president Eddie Rickenbacker is among the survivors.',
 'October 30 – Northwest Airlines Trip 5, a Douglas DC-3, crashed at Moorhead, Minnesota in fog due to icing; of the 15 on board, only pilot Clarence Bates survived.',
 'American Airlines Flight 1 a Douglas DC-3, stalled and crashed at Lawrence Station, Ontario, Canada while attempting to find a place to land, killing all 20 on board; the cause of the crash was not determined.',
 '1942[edit]',
 'January 16 – TWA Flight 3, a Douglas DC-3 returning to California crashes into Potosi Mountain 30 miles (48\xa0km) southwest of Las Vegas, Nevada, United States; all 22 aboard die, including actress Carole Lombard and her mother.',
 'January 30 – Qantas Short Empire G-AEUH is shot down by seven Japanese fighters and crashes 13\xa0nmi (24\xa0km) from East Timor; 13 of 18 on board die.',
 'March 3 – KNILM Douglas DC-3 PK-AFV is shot down by three Japanese fighters and crashes 50\xa0mi (80\xa0km) north of Broome, Western Australia, killing four of 12 on board.',
 'October 23 – American Airlines Flight 28, a Douglas DC-3, crashes near Palm Springs, California, United States, after being struck by a U.S. Army Air Corps Lockheed B-34 bomber; all 12 aboard the airliner die, while the bomber lands safely with minor damage.',
 '1943[edit]',
 'January 21 – Pan Am Flight 1104, a Martin M-130 nicknamed the Philippine Clipper, crashes into a mountain near Boonville, California, United States, killing all 19 passengers and crew, including Rear Admiral Robert H. English, Commander, Submarines, U.S. Pacific Fleet (COMSUBPAC).',
 'June 1 – BOAC Flight 777, a Douglas DC-3, is shot down by Luftwaffe fighter aircraft over the Bay of Biscay, killing 17 passengers and crew on board.',
 'July 28 – American Airlines Flight 63 (Flagship Ohio), a Douglas DC-3, loses control due to severe turbulence and violent downdrafts and crashes near Trammel, Kentucky, United States, killing 20 out of 22 people on board.',
 'October 15 – American Airlines Flight 63 (Flagship Missouri), a DC-3, crashes near Centerville, Tennessee, United States, killing all eight passengers and three crewmembers, after ice formed on its wings and propellers.',
 '1944[edit]',
 'February 10 – American Airlines Flight 2, a Douglas DC-3, crashes into the Mississippi River between Arkansas and Tennessee, United States, for reasons unknown, killing all 24 occupants (21 passengers and three crew members).',
 'June 20 – TWA Flight 277, a Douglas C-54 Skymaster, crashes into Fort Mountain, Maine, United States, in severe weather, killing all seven passengers and crew on board.',
 '1945[edit]',
 'January 8 – The China Clipper, a Pan Am Martin M-130 flying boat operating as Flight 161, crashes in Port of Spain, Trinidad, killing all 25 on board.',
 'January 31 – The Stinson Tokana operated by Australian National Airways crashes, killing all 10 on board. The accident was caused by a fatigue crack in a wing spar.',
 'July 12 – Eastern Air Lines Flight 45, a Douglas DC-3A, collides with a Douglas A-26 Invader over Florence, South Carolina, United States. One of the 24 on the DC-3 and one of the two on the A-26 die.',
 'October 5 – National Airlines Flight 16, a Lockheed L-18 Lodestar, overshoots the runway at Lakeland, Florida, United States, killing two of 15 on board.',
 'November 3 – The prototype Boeing 314, named the Honolulu Clipper, makes an emergency landing in the Pacific 650 miles east of Oahu due to double engine failure; the aircraft is intentionally sunk after salvage was deemed impractical; all 26 passengers on board survive.',
 '1946[edit]',
 'January 6 – Pennsylvania Central Airlines Flight 105, a Douglas DC-3, crashes in Birmingham, Alabama, United States, killing three of the four crew members; the flight attendant and all 16 passengers survive.',
 'March 10 – The 1946 Australian National Airways DC-3 crash near Hobart, Tasmania, kills all 25 on board.',
 'July 11 – TWA Flight 513, a Lockheed L-049 Constellation, crashes near Reading, Pennsylvania, United States, after a fire in the baggage compartment; of the six crew on board, only one survives.',
 'August 7 – British European Airways Flight 530, a Douglas C-47, crashes into Mistberget mountain near Eidsvoll, Norway; killing three of five crew; all 10 passengers survived.',
 'October 3 – An American Overseas Airlines Douglas C-54 crashes into mountainous terrain after takeoff from Stephenville, Newfoundland, killing all 39 passengers and crew on board.',
 'November 14 – In the 1946 KLM Douglas DC-3 Amsterdam accident, a Douglas DC-3 crashes while attempting to land at Amsterdam Schiphol Airport in the Netherlands; all 26 passengers and crew on board are killed.',
 'December 28 – TWA Flight 6963, a Lockheed L-049 Constellation, crashes near Shannon Airport due to an inaccurate altimeter caused by maintenance errors, killing nine of 23 on board.',
 '1947[edit]',
 'January 11 – The 1947 BOAC Douglas C-47 crash: a BOAC Douglas C-47A crashes into Barley Hill near Stowting, Kent, United Kingdom, due to fuel starvation, killing eight of 16 on board.',
 'January 12 – Eastern Air Lines Flight 665 Douglas C-49 flies into high ground near Galax, Virginia, when the pilot loses his bearings, killing all but one of 19 aboard.',
 'January 25 – In the 1947 Croydon Dakota accident, a Spencer Airways Douglas C-47A fails to get airborne at Croydon Airport, United Kingdom, and crashes into a parked ČSA aircraft; 12 of the 22 on board are killed.',
 'January 26 – In the 1947 KLM Douglas DC-3 Copenhagen accident, a Douglas DC-3 crashes shortly after takeoff from Kastrup Airport in Denmark; all 22 passengers and crew on board are killed.',
 'February 15 – An Avianca Douglas DC-4 crashes into Mount El Tabalazo due to pilot error, killing all 53 passengers and crew on board.',
 'May 29 – United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.',
 'May 30 – Eastern Air Lines Flight 605, a Douglas DC-4, loses control and crashes near Bainbridge, Maryland, United States, killing all 53 passengers and crew on board in the deadliest airliner crash in United States history at the time.',
 'June 13 – Pennsylvania Central Airlines Flight 410, a Douglas DC-4, crashes into Lookout Rock, in the West Virginia Blue Ridge Mountains of the United States en route from Pittsburgh to Washington DC; all 50 passengers and crew are killed.',
 'June 19 – Pan Am Flight 121, a Lockheed L-049 Constellation, crashes in the Syrian desert, en route from Karachi to Istanbul, killing 14 of the 36 on board.',
 'August 2 – In the 1947 BSAA Star Dust accident, a British South American Airways Avro Lancastrian named Star Dust disappears over the Andes after transmitting an enigmatic coded message ("STENDEC"); the fate of the plane remained a mystery until the crash site was located in 2000; four crew and nine passengers are killed.',
 'August 28 – In the Kvitbjørn disaster, a Norwegian Air Lines Short Sandringham flying boat struck a mountain near Lødingsfjellet, Norway, killing all 35 on board.',
 'October 24 – United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.',
 'October 26 – Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.',
 'December 27 – In the 1947 Korangi Creek crash, an Air India Douglas DC-3 crashes shortly after takeoff, killing all 23 on board.',
 '1948[edit]',
 'January 30 – The BSAA Star Tiger disappearance: an Avro Tudor IV disappears without a trace en route from the Azores to Bermuda with 31 on board. The loss of the aircraft along with the 1949 BSAA Star Ariel disappearance remain unsolved to this day, with the resulting speculation helping to develop the Bermuda Triangle legend.',
 'March 12 – Northwest Airlines Flight 4422, a Douglas C-54 Skymaster, crashes into Mount Sanford in the Alaska Territory, killing 30. Though the wreckage was initially found, it was inaccessible; it was later buried and not rediscovered until 1999.',
 'April 5 – In the 1948 Gatow air disaster, a British European Airways Vickers VC.1 Viking crashes near RAF Gatow, Berlin after a collision with a Soviet Air Force Yakovlev Yak-3 fighter; all 14 people on board the Viking die, as well as the Soviet pilot.',
 'April 15 – Pan Am Flight 1-10, a Lockheed Constellation, crashes while on approach to Shannon Airport, Ireland; of the 31 on board, only one survives.',
 'April 21 – British European Airways Flight S200P, a Vickers VC.1 Viking, crashes into Irish Law Mountain in Scotland due to pilot error; all on board survive.',
 'June 17 – United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.',
 'July 4 – The Northwood mid-air collision between a Scandinavian Airlines System-operated Douglas DC-6 and an RAF Avro York kills all 39 passengers and crew on board both aircraft.',

Now we'd like you to save the results to a file called `incidents_raw.txt`.  You can use the file commands: `open`, `write`, and `close`.  Be sure to write a newline (`\n`) after each line, so that later you can read the lines back.

In [31]:
# TODO: Write selected_data to incidents_raw.txt
        
# YOUR CODE HERE
with open('incidents_raw.txt', 'w') as filehandle:  
    for listitem in selected_data:
        filehandle.write('%s\n' % listitem)

## Step 2: Simple Data Cleaning

Now we need to do some further cleaning to both the CSV and text data.

(use Insert|Insert Cell Above or Insert Cell Below as needed to add further cells)

## 2.1 Cleaning Tabular Data

We are going to clean the `airlines_df`, `airports_df`, and `routes_df` DataFrames.  First, run a "helper" function we've defined for you.

In [32]:
# Replace NaNs with blanks if the column is a string, so everything is of a consistent type
def fillna_col(series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('')
    else:
        return series

Additionally, define a second function called `nullify` that takes a single parameter `x`. Given the parameter value `\N` it returns `NaN`, otherwise it returns the value of the parameter.

In [33]:
# TODO: Define nullify here
    
# YOUR CODE HERE
def nullify(x):
    if x == '\\N':
        return float('nan') # not 'nan'
    else:
        return x

In [34]:
# !pip install nose --user
from nose.tools import assert_equal

# Test that nullify on 'abc' just returns the value
assert_equal(nullify('abc'), 'abc')

# Ditto for an integer
assert_equal(nullify(3), 3)

### 2.1.1 Regularizing and removing nulls

Next, we’ll need to use two functions to apply `nullify` and `fillna_col` to our DataFrames.  

The DataFrame applymap function can be used to apply a function to every cell of a DataFrame.  We can use this to apply nullify to all of the elements in each of our DataFrames (airports, airlines, etc.) and get rid of all of the “\N”s.

The DataFrame `apply` function can be used to apply a function to every column of a DataFrame.  Let’s use that to call `fillna_col `on the DataFrames -- replacing the NaNs with blank strings if the column is otherwise an object.
Also, let’s get rid of rows in `routes_df` that have null airline, source, or destination IDs.  Recall that `dropna` can be used here.

You’ll want to update your DataFrames using all of the above functions.  Think carefully about the order in which to apply these.

In [35]:
# TODO: regularize and remove nulls according to Step 2

# YOUR CODE HERE
airports_df = airports_df.applymap(nullify) # replace \N with NaN
airports_df = airports_df.apply(fillna_col) # replace NaN with '' if col is string

airlines_df = airlines_df.applymap(nullify)
airlines_df = airlines_df.apply(fillna_col)

flights_df = flights_df.applymap(nullify)
flights_df = flights_df.apply(fillna_col)

routes_df = routes_df.applymap(nullify)
routes_df = routes_df.dropna(axis=0, subset=['airline_id', 'source_id', 'target_id']) # get rid of rows in routes_df that have null ('nan') airline, source, or destination IDs
routes_df = routes_df.apply(fillna_col)

In [36]:
if airports_df.isnull().sum().sum() != 0:
    raise ValueError('airports_df still has NaNs')
    
if airlines_df.isnull().sum().sum() != 0:
    raise ValueError('airlines_df still has Nans')
    
if routes_df.isnull().sum().sum() != 0:
    raise ValueError('routes_df still has Nans')

### 2.1.2 Changing column types

After all of this, `routes_df.airline_id` will only have integers, but will still have its existing type of object.  Later we’ll need it to be an integer, so that it can be compared directly with the entries from `airlines_df` and `airports_df`.  Let’s convert it to integer via:

```
routes_df['airline_id'] = routes_df['airline_id'].astype(int)
```

Repeat the same process for the source and destination airport IDs.

In [62]:
# TODO: Change column types according to Step 2

# YOUR CODE HERE
routes_df['airline_id'] = routes_df['airline_id'].astype(int)

In [63]:
routes_df['source_id'] = routes_df['source_id'].astype(int)
routes_df['target_id'] = routes_df['target_id'].astype(int)

## 2.2 Cleaning the Text Data

We will clean the raw text data we stored in `incidents_raw.txt`. For each incident, we want it in the form:

```
1997 January 9 , Comair Flight 3272, an Embraer EMB 120 Brasília, crashes near Ida, Michigan, during a snowstorm, killing all 29 on board.
```

Points to follow during cleaning:

* Remove `[edit]` from the year

* Only select incidents that have occured in the year >= 1997

* Since we extracted the data using tags `<h3>` and `<li>`, it is possible that there was other data extracted too. See the end of file `incidents_raw.txt`. However, if we look at the format of all the incidents, we can see that they all contain: *month*, the word `Flight` and the symbol `–`. Use these conditions to filter out unwanted data.

* Store all the cleaned incidents in a list named `clean_incidents`.

In [38]:
# TODO: Read and clean raw text file and store in clean_incidents

# YOUR CODE HERE
# ==== read raw text from file ==== 
text_file = open("incidents_raw.txt", "r")
raw_incidents = text_file.read().split('\n')

# ==== remove [edit] from the year ==== 
raw_incidents = [s.replace('[edit]', '') for s in raw_incidents]

# ==== select incidents that occured in the year >=1997 ==== 
ind = [i for i, s in enumerate(raw_incidents) if '1997' in s] # find index of first instance of 1997
raw_incidents = raw_incidents[ind[0]:] # select this row and all rows after

# ==== filter out unwanted data ==== 
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
clean_incidents = []
for i in range(0,len(raw_incidents)):
    if len(raw_incidents[i]) == 4:
        year = raw_incidents[i]
    else:
        if 'Flight' in raw_incidents[i]:
            if '–' in raw_incidents[i]:
                if raw_incidents[i].partition(' ')[0] in months:
                    clean_incidents.append(year + ' ' + raw_incidents[i])

clean_incidents = [s.replace('–', ',') for s in clean_incidents]

In [39]:
if len(clean_incidents) != 331:
    raise ValueError("Don't have the expected number of entries")

if not clean_incidents[0].startswith('1997'):
    raise ValueError("Don't have the expected start date")

Now that we have all the aircraft incidents since 1997, we need to convert them into a Pandas DataFrame. Use the empty dataframe `incidents_df`.  For each entry in clean_incidents, extract the date, airline name and flight number (only the part that comes after `Flight`, and you should remove what are called "stop words" like a, an, the) then store it as a new row in `incidents_df`. Set the column type of `incidents_df['Date']` to `datetime`. Drop any duplicates from `incidents_df`.

In [60]:
# TODO: Convert clean_incidents into dataframe incidents_df

# You might find the Natural Language Toolkit (nltk) useful.
# See https://www.nltk.org/ for details.
#
# The stopwords module will let you find and remove not-very-useful
# words like articles ('the', 'a').

# ! pip install nltk --user
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords


# YOUR CODE HERE
import re
from nltk.tokenize import word_tokenize 
stop_words = set(stopwords.words('english'))

incidents_df = pd.DataFrame(columns=['Date','Airline','FlightNum'])
for i in range(0,len(clean_incidents)):
    # remove stop words
    word_tokens = word_tokenize(clean_incidents[i]) # split each word into separate string
    word_tokens = [w for w in word_tokens if not w in stop_words] # remove stop words
    inc = ' '.join(word_tokens) # join back together into one string
    # split by commas
    inc = inc.split(",")
    # find date using regex
    dt = re.match('\d{4}\s+(January?|February?|March?|April?|May?|June?|July?|August?|September?|October?|November?|December?)\s+\d{1,2}', inc[0], re.IGNORECASE)
    date = dt.group()
    # find flight number using regex
    for strings in range (0,len(inc)):
        flN = re.search('Flight (\w+)*', inc[strings], re.IGNORECASE)
        if flN is not None:
            flightNo = flN.group(1)
            break
    # find airline name by grabbing all text before "Flight"
    inc2 = [s for s in inc if "Flight" in s] # find string w "Flight"
    regex = re.compile('([A-Z][\w-]*(\s+[A-Z][\w-]*)+)') # grab text before "Flight" beginning with capital letters
    airline = regex.search(inc2[0]).group(1)
    airline = airline.split("Flight")[0]
    airline = airline[:-1] # strip space at end
    # update incidents_df data frame
    incidents_df = incidents_df.append({'Date': date, 'Airline': airline, 'FlightNum': flightNo}, ignore_index=True)

In [61]:
if len(incidents_df) != 331:
    raise ValueError("Don't have the expected number of entries")

if incidents_df.shape[1] != 3:
    raise ValueError("Don't have the expected number of fields")

if not ((incidents_df['Airline'] == 'Cebu Pacific') & \
        (incidents_df['Date'] == '1998 February 2') & \
        (incidents_df['FlightNum'] == '387')).any():
    raise ValueError('You might need to clean your data a bit better')

In [62]:
# TODO: Change column type of 'Date' and drop duplicates

# YOUR CODE HERE
# === change 'Date' column to datetime ===
incidents_df['Date'] = pd.to_datetime(incidents_df['Date'], format="%Y %B %d")

# === drop duplicates ===
incidents_df = incidents_df.drop_duplicates()

## Final Output

The following cells just show what the data looks like.  You should sanity check that it makes sense.

In [63]:
airports_df

,airport_id,airport_name,city,country,iata,icao,lat,lon,alt,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,N,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,N,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,N,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,N,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,N,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,N,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,N,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,N,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,N,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,N,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,,,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [64]:
airlines_df

,airline_id,airline_name,airline_alias,airline_iata,airline_icao,airline_callsign,country,active
0,1,Private flight,,-,,,,Y
1,2,135 Airways,,,GNL,GENERAL,United States,N
2,3,1Time Airline,,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,,,WYT,,United Kingdom,N
4,5,213 Flight Unit,,,TFU,,Russia,N
5,6,223 Flight Unit State Airline,,,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,,,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,,,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,,,SEC,SECUREX,United States,N
9,10,40-Mile Air,,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,,,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,,,THD,DONUT,Canada,N
12,13,Ansett Australia,,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,,1B,,,Singapore,Y
14,15,Abelag Aviation,,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,,,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,,,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,,,SII,ASEISA,Mexico,N
18,19,Aero Biniza,,,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,,,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,,,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,,,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),,,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,,,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,,,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,,CCB,,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,,,TNS,,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,,,GCA,,Lithuania,Y
6028,19785,Go2Sky,,,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,,Argentina,Y
6030,19804,All America,All America,A2,AL2,,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,,China,Y
6032,19806,All Africa,All Africa,9A,99F,,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,,Iceland,Y
6037,19811,British Air Ferries,,??,??!,,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,,Australia,Y
6045,19831,Fly Europa,,ER,RWW,,Spain,Y
6046,19834,FlyPortugal,,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,,,FTI,,Germany,N

In [65]:
routes_df

,airline_iata,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,,0,CR2
1,2B,410,ASF,2966,KZN,2990,,0,CR2
2,2B,410,ASF,2966,MRV,2962,,0,CR2
3,2B,410,CEK,2968,KZN,2990,,0,CR2
4,2B,410,CEK,2968,OVB,4078,,0,CR2
5,2B,410,DME,4029,KZN,2990,,0,CR2
6,2B,410,DME,4029,NBC,6969,,0,CR2
8,2B,410,DME,4029,UUA,6160,,0,CR2
9,2B,410,EGO,6156,KGD,2952,,0,CR2
10,2B,410,EGO,6156,KZN,2990,,0,CR2
11,2B,410,GYD,2922,NBC,6969,,0,CR2
12,2B,410,KGD,2952,EGO,6156,,0,CR2
13,2B,410,KZN,2990,AER,2965,,0,CR2
14,2B,410,KZN,2990,ASF,2966,,0,CR2
15,2B,410,KZN,2990,CEK,2968,,0,CR2
16,2B,410,KZN,2990,DME,4029,,0,CR2
17,2B,410,KZN,2990,EGO,6156,,0,CR2
18,2B,410,KZN,2990,LED,2948,,0,CR2
19,2B,410,KZN,2990,SVX,2975,,0,CR2
20,2B,410,LED,2948,KZN,2990,,0,CR2
21,2B,410,LED,2948,NBC,6969,,0,CR2
22,2B,410,LED,2948,UUA,6160,,0,CR2
23,2B,410,MRV,2962,ASF,2966,,0,CR2
24,2B,410,NBC,6969,DME,4029,,0,CR2
25,2B,410,NBC,6969,GYD,2922,,0,CR2
26,2B,410,NBC,6969,LED,2948,,0,CR2
27,2B,410,NBC,6969,SVX,2975,,0,CR2
28,2B,410,NJC,2972,SVX,2975,,0,CR2
29,2B,410,NJC,2972,UUA,6160,,0,CR2
30,2B,410,NUX,4364,SVX,2975,,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,,0,734
67660,ZM,19016,FRU,2912,DME,4029,,0,734
67661,ZM,19016,FRU,2912,OSS,2913,,0,734
67662,ZM,19016,OSS,2913,FRU,2912,,0,734

In [66]:
incidents_df

          Date                            Airline FlightNum
0   1997-01-09                             Comair      3272
1   1997-03-18  Stavropolskaya Aktsionernaya Avia      1023
2   1997-04-19         Merpati Nusantara Airlines       106
3   1997-05-08            China Southern Airlines      3456
4   1997-07-31                      FedEx Express        14
5   1997-07-17                        Sempati Air       304
6   1997-08-06                         Korean Air       801
7   1997-08-10                   Formosa Airlines      7601
8   1997-09-03                   Vietnam Airlines       815
9   1997-09-06              Royal Brunei Airlines       238
10  1997-09-26                   Garuda Indonesia       152
11  1997-10-10              Austral Líneas Aéreas      2553
12  1997-12-15                Tajikistan Airlines      3183
13  1997-12-17                           Aerosvit       241
14  1997-12-19                            SilkAir       185
15  1997-12-28                    United Airlines       826
16  1998-02-02                       Cebu Pacific       387
17  1998-02-16                     China Airlines       676
18  1998-03-22                Philippine Airlines       137
19  1998-04-20                         Air France       422
20  1998-05-25                                PIA       544
21  1998-06-18                            Propair       420
22  1998-07-30                   Proteus Airlines       706
23  1998-08-24                     Myanma Airways       635
24  1998-08-29                           Aviación       389
25  1998-09-02                           Swissair       111
26  1998-09-25                           PauknAir      4101
27  1998-09-29                            Lionair       602
28  1998-12-11         Thai Airways International       261
29  1999-02-24           China Southwest Airlines      4509
..         ...                                ...       ...
301 2015-09-05    Ceiba Intercontinental Airlines        71
302 2015-09-08                    British Airways      2276
303 2015-10-02                           Aviastar      7503
304 2015-10-29                    Dynamic Airways       405
305 2015-10-31                           Metrojet      9268
306 2016-01-08                    West Air Sweden       294
307 2016-02-02                    Daallo Airlines       159
308 2016-02-24                           Tara Air       193
309 2016-03-19                           Flydubai       981
310 2016-03-29                           EgyptAir       181
311 2016-04-04                          Batik Air      7703
312 2016-05-19                           EgyptAir       804
313 2016-05-27                         Korean Air      2708
314 2016-06-27                 Singapore Airlines       368
315 2016-08-03                           Emirates       521
316 2016-08-05               ASL Airlines Hungary      7332
317 2016-08-27                 Southwest Airlines      3472
318 2016-10-28                  American Airlines       383
319 2016-10-28                      FedEx Express       910
320 2016-11-28                     LaMia Airlines      2933
321 2016-12-07    Pakistan International Airlines       661
322 2016-12-20                          Aerosucre      4544
323 2016-12-23                  Afriqiyah Airways       209
324 2017-01-16                   Turkish Airlines      6491
325 2017-03-28                  Peruvian Airlines       112
326 2017-05-27                         Summit Air       409
327 2017-07-07                         Air Canada       759
328 2017-09-30                         Air France        66
329 2017-12-13                 West Wind Aviation       280
330 2018-01-13                   Pegasus Airlines      8622

[322 rows x 3 columns]

## Step 3: Making Data “Persistent”

Now let’s actually save the data in a persistent way, specifically using a relational database.  For simplicity we’ll use SQLite here, but we could alternatively use a DBMS such as MySQL or PostgreSQL on the cloud (or in another Docker container).

The cell below establishes a connection to an SQLite database, which will be written to the file HW1_DB in your HW1 Jupyter directory.

In [67]:
# YOUR CODE HERE
import sqlite3

engine = sqlite3.connect('HW1_DB')

Now save each of your DataFrames (`airlines_df`, `airports_df`, `flights_df`, `routes_df`, `incidents_df`) to the database.  To do this, call the `to_sql` method (make sure to not save the `index` column since it doesn't matter!) on the DataFrame.  Give it a table name matching the DataFrame name, and set the flag `if_exists=’replace’` in case you want to run this multiple times.

Once this is all done, you can move on to Homework 1, Part 2, which will use the DataFrames saved to the SQL database.

In [68]:
# TODO:  Use to_sql to save your Dataframes

# YOUR CODE HERE
airlines_df.to_sql('airlines', con=engine, index=False, if_exists='replace')
airports_df.to_sql('airports', con=engine, index=False, if_exists='replace')
flights_df.to_sql('flights', con=engine, index=False, if_exists='replace')
routes_df.to_sql('routes', con=engine, index=False, if_exists='replace')
incidents_df.to_sql('incidents', con=engine, index=False, if_exists='replace')

In [69]:
# Test that the data is there!

cursor = engine.execute('select * from airports limit 1000')
rows = cursor.fetchall()
rows

if len(rows) < 1000:
    raise ValueError('Somehow fewer than 1000 airports were written')

In [70]:
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322 entries, 0 to 330
Data columns (total 3 columns):
Date         322 non-null datetime64[ns]
Airline      322 non-null object
FlightNum    322 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 10.1+ KB

In [71]:
cursor.close()
engine.close()